<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.next.lvjunling.gradlemultichannelpack">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel_ID" />

        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
